<style>

    *{
        font-family: Arial;
    }

    h1{
        color: green;
    }

    h2{

        color: green;

    }

    img{
        max-width: 300px;
        max-height: 300px;

    }

    .product{
        display: flex;
        border: 2px green solid;
        margin-top: 10px;
        border-radius: 10px;
        padding: 10px;
    }


    .heading{

        display: flex;
        align-items: center;

    }

    a{

    margin-left: 10px;

    }

</style>

<div class = "heading">

    <h1 style="font-family:Arial "> Vizi Shop</h1>

    <a href="/">Главная</a>
    <a href="/products"> Товары</a>
    <a href="/discounts">Акции</a>

</div>



<div class="product">
    <img src="https://urban-electro.ru/cache/resize/products.hpeasdjdzy.450.450.webp">
    <div>        <h2>Моноколесо</h2>
        <p>Описание моноколеса</p>
    </div>    <button>Купить</button>
</div>



<div class="product">
    <img src="https://cititron.ru/upload/iblock/174/1745ed843014c515b34dff130d2422fc.jpg">
    <div>        <h2>Часы</h2>
        <p>Описание часов</p>
    </div>    <button>Купить</button>
</div>