{% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}" xmlns:товаре="http://www.w3.org/1999/xhtml"/>

<div class = "heading">

        <div class = 'logo'>
            <h1 class= "colorLogo" > Vizi07 Community Shop</h1>
        </div>


        <div class = 'navigation'>
            <a class ='navlink' href="/">Главная</a>
            <a class="navlink" href="/products"> Товары</a>
            <a class="navlink" href="/discounts">Акции</a>
        </div>






</div>

<div class="productCard">

    <img class="productPreviewCite" src="{{ product.image_Url }}">
    <div class="productInfo">
        <h1>{{ product.name }}</h1>
        <h3>{{ product.price }}</h3>
        <a href="/payment/{{product.id}}">
            <button>Купить</button>
        </a>
    </div>




</div>





<div class="productDetails">
    <h1>Описание:</h1>
    <p>
        {{ product.description }}
    </p>

</div>





<div class="productDetails">
        <h1>Характеристики:</h1>

        {% if product.weight %}
        <div class="charRow">
            <p>
                Вес: {{ product.weight }} кг
            </p>

        </div>
        {% endif %}

        {% if product.model %}
        <div class="charRow">
            <p>
                Модель: {{ product.model }}
            </p>

        </div>
        {% endif %}
</div>





<div class="productDetails">
        <h1> Отзывы о товаре:</h1>
        {% for review in reviews %}

        <div class="reviewHeader">
            {% if review.rating  == 1 %}
            <h2 class = 'greentext'>Положительный от пользователя:</h2>

            {% else %}
            <h2 class = 'redtext'>Отрицательный от пользователя:</h2>
            {% endif %}

            <h2 > {{ review.author }}</h2>

        </div>

        <p>{{review.text}}</p>
        {% endfor %}

<div>





</div>
        <h1>Создать отзыв:</h1>
            <div class="createReview">
                <form class="createReviewForm" method="POST">

                    {% csrf_token %}
                    <div class="fio">
                        <label for="author">Автор:</label>
                        <input name="author" class="inputElement" />

                        <label for="rating">Оценка:</label>
                        <select name="rating" class="inputElement">
                            <option value="1">Положительная</option>
                            <option value="0">Отрицательная</option>
                        </select>

                        <label for="text">Текст отзыва:</label>
                        <textarea name="text" rows="10" class="inputElement"></textarea>

                        <button>Отправить отзыв</button>
                    </div>


                </form>
            </div>
</div>


